<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragmentexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RecyclerView81Activity"></activity>
        <activity android:name=".view.LayoutCustomLinearLayout01Activity" />
        <activity android:name=".view.ViewPager14Activity" />
        <activity android:name=".view.ViewPager13Activity" />
        <activity android:name=".view.ViewPager12Activity" />
        <activity android:name=".view.ViewPager11Activity" />
        <activity android:name=".view.ViewPager22Activity" />
        <activity android:name=".view.ViewPager21Activity" />
        <activity android:name=".view.RecyclerView72Activity" />
        <activity android:name=".view.RecyclerView71Activity" />
        <activity android:name=".view.ViewPager31Activity" />
        <activity android:name=".view.ViewPagerActivity" />
        <activity android:name=".view.DetailsActivity" />
        <activity android:name=".view.FragmentLayout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>