<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragmentexample">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> 
        <activity android:name=".view.preference_02.PreferenceSampleActivity"></activity>
        <activity android:name=".view.preference_screen.Preference01Activity" />
        <activity android:name=".view.settings_example.SettingsActivity" />        
        <activity android:name=".view.roomdb.RoomDbActivity"></activity>
        <activity android:name=".view.popuup_window.PopupWindowActivity" />
        <activity android:name=".view.switch_example.SwitchActivity" />
        <activity android:name=".view.searchview.SearchViewActivity" />
        <activity android:name=".view.ShowTextActivity" />        
        <activity android:name=".view.gesture_example.GestureActivity"></activity>
        <activity android:name=".view.touchevent_example.TouchEventActivity" />
        <activity android:name=".view.keydown_example.KeyDownActivity" />
        <activity android:name=".view.cardmatchgame.CardGameActivity" />
        <activity android:name=".view.image_example.ImageExample" />
        <activity android:name=".view.ViewPagerActivity" />
        <activity android:name=".view.DetailsActivity" />
        <activity android:name=".view.FragmentLayout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
