<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swipeup">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".SwipeUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.basic_example.SapnnableActivity"
            android:exported="true" />
        <activity
            android:name=".view.winset_example.Dialog01Activity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.touch_basic.DrawLineOnCanvasActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.touch_basic.DrawCanvasOnViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.touch_basic.MoveRobotActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.touch_basic.MultiTouchActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.touch_basic.SingleTouchActivity"
            android:exported="true" />
        <activity
            android:name=".view.zoom_image.ZoomActivity"
            android:exported="true" />
        <activity
            android:name=".view.camera_example.TakePicture2Activity"
            android:exported="true" />
        <activity
            android:name=".view.activity_example.registerForActivityResult_Activity"
            android:exported="true" />
        <activity
            android:name=".view.camera_example.TakePictureActivity"
            android:exported="true" />
        <activity
            android:name=".view.zoom_image.ZoomImageActivity03"
            android:exported="true" />
        <activity
            android:name=".view.zoom_image.ZoomImageActivity02"
            android:exported="true" />
        <activity
            android:name=".view.zoom_image.ZoomImageActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.XfermodeViewTestActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.ImageMatrixTestActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.PathEffectViewTestActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.ReflectViewTestActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.PixelsEffectActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.ColorMatrixActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.PrimaryColorActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.LayerActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.ClockActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.CanvasPaintActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.DragViewGroupTest"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.DragViewTest"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.CustomViewLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.CustomViewGroupActivity"
            android:exported="true" />
        <activity
            android:name=".view.android_hero_samples.CustomViewSamples01Activity"
            android:exported="true" />
        <activity
            android:name=".view.scroller_example.ScrollerMainActivity"
            android:exported="true" />
        <activity
            android:name=".view.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TouchInterceptActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.MultitouchActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TwoDimensionGestureScrollActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TwoDimensionScrollActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TouchForwardActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TouchDelegateActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.TouchListenerActivity"
            android:exported="true" />
        <activity
            android:name=".view.touch_example.MoveLoggerActivity"
            android:exported="true" />
        <activity
            android:name=".view.view_example.TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".view.view_example.CanvasActivity"
            android:exported="true" />
        <activity
            android:name=".view.animation_example.ViewPropertyAnimatorActivity"
            android:exported="true" />
        <activity
            android:name=".view.animation_example.AnimationDrawableActivity"
            android:exported="true" />
        <activity
            android:name=".view.animation_example.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".view.view_example.CardViewDemoActivity"
            android:exported="true" />
        <activity
            android:name=".view.custom_view.CustomLoginButtonActivity"
            android:exported="true" />
        <activity
            android:name=".view.view_example.PaintActivity"
            android:exported="true" />
        <activity
            android:name=".view.custom_view.LinedEditTextActivity"
            android:exported="true" />
        <activity
            android:name=".view.custom_view.VolumeControlActivity"
            android:exported="true" /> <!-- android:theme="@style/Theme.SwipeUp"> -->
        <activity
            android:name=".view.swipe_up_panel.SwipeUpActivity"
            android:exported="true" />
        <activity
            android:name=".view.sliding_up_pannel.DemoActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.swipeup.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>